
body {
  background: #0000ff;
  color:#FFD700;
  font-family: helvetica, arial, sans-serif;
  font-style:normal;
  max-width: 80%;
  letter-spacing: -0.0125rem;
}

h1 {
  font-size: 3vw;
}

p{
  font-size: 1vw;
}


a:link {
  color:#FFD700;
  }
  a:visited {
  color:#FFD700;
  }
  a:hover {
  color:#FFD700;
  }

  
#O0 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline, blue;
}

#A0 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O0:hover #A1 {
  display: block;
}


#O1 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline, blue;
}

#A1 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O1:hover #A1 {
  display: block;
}


#O2 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline, blue;
}

#A2 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O2:hover #A2 {
  display: block;
}


#O3 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline, whitesmoke;
}

#A3 {
  position: relative;
  z-index: 60;
  margin: 10px;
  width: 50%;
  display: none;
  }

#O3:hover #A3 {
  display: block;
}

#O4 {
  position: relative;
  z-index: 10;
  margin: 10px;
  width: 50%;
  text-decoration: underline, whitesmoke;
}

#A4 {
  position: relative;
  z-index: 60;
  margin: 10px;
  font-size: 10px;
  display: none;
}

#O4:hover #A4 {
  display: block;
}


#O5 {
  position: relative;
  z-index: 10;
  margin: 10px;
  max-width: 80%;
  text-decoration: underline, whitesmoke;
}

#A5 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O5:hover #A5 {
  display: block;
}


#O6 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline, whitesmoke;
}

#A6 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O6:hover #A6 {
  display: block;
}


#O7 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline, whitesmoke;
}

#A7 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O7:hover #A7 {
  display: block;
}


#O8 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline, whitesmoke;
}

#A8 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O8:hover #A8 {
  display: block;
}


#O9 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline,whitesmoke;
}

#A9 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O9:hover #A9 {
  display: block;
}


#O10 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline,whitesmoke;
}

#A10 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O10:hover #A10 {
  display: block;
}


#O11 {
  position: relative;
  z-index: 10;
  margin: 10px;
  text-decoration: underline,whitesmoke;
}

#A11 {
  position: relative;
  z-index: 60;
  margin: 10px;
  display: none;
  }

#O11:hover #A11 {
  display: block;
}


