
body {
  background: #0000ff;
  color:#FFD700;
  /*font-family: helvetica, arial, sans-serif;*/
  font-style:normal;
  max-width: 80%;
  /*letter-spacing: -0.0125rem;*/
}

pre{
  max-width: 80%;
}

img{
  max-width: 80%;
  max-height: 50%;
}

h1 {
  font-size: 1vw;
}

p{
  font-size: 1vw;
}


a:link {
  color:#FFD700;
  }
  a:visited {
  color:#FFD700;
  }
  a:hover {
  color:#FFD700;
  }
/*
  #chk {
    position: absolute;
    visibility: hidden;
  }
  
  #A {
    display: none;
  }
  
  #chk:checked~#A {
    display: block;
  }
  #chk2:checked~ * h1 {
    color: peru;
  }
  */
#chk2 {
  position: absolute;
  visibility: hidden;
}

#A2 {
  display: none;
}



#chk2:checked~#A2 {
  display: block;
}
#chk2:checked~ * h1 {
  color: whitesmoke;
}



#chk3 {
  position: absolute;
  visibility: hidden;
}

#A3 {
  display: none;
}

#chk3:checked~#A3 {
  display: block;
}
#chk3:checked~ * h1 {
  color: whitesmoke;
}


#chk4 {
  position: absolute;
  visibility: hidden;
}

#A4{
  display: none;
}

#chk4:checked~#A4 {
  display: block;
}
#chk4:checked~ * h1 {
  color: whitesmoke;
}



#chk5 {
  position: absolute;
  visibility: hidden;
}

#A5 {
  display: none;
}

#chk5:checked~#A5 {
  display: block;
}
#chk5:checked~ * h1 {
  color: whitesmoke;
}



#chk6 {
  position: absolute;
  visibility: hidden;
}

#A6 {
  display: none;
}

#chk6:checked~#A6 {
  display: block;
}
#chk6:checked~ * h1 {
  color: whitesmoke;
}



#chk7 {
  position: absolute;
  visibility: hidden;
}

#A7 {
  display: none;
}

#chk7:checked~#A7 {
  display: block;
}
#chk7:checked~ * h1 {
  color: whitesmoke;
}



#chk8 {
  position: absolute;
  visibility: hidden;
}

#A8 {
  display: none;
}

#chk8:checked~#A8 {
  display: block;
}
#chk8:checked~ * h1 {
  color: whitesmoke;
}
